*{
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    background-color:rgb(31, 31, 82);
}
.logo{
    height: 80px;
    width: 80px;
    border: 2px solid rgb(31, 31, 82);
    border-radius: 74px;
}
.titleName{
    font-weight: bolder;
    color: whitesmoke;
    font-size: 1.5rem;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(31, 31, 82);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    flex-direction: column;
}
.musicbox{
    min-height: 70vh;
    background-color: rgb(31, 31, 82);
    color: white;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 24px;
    padding: 34px;
    background-image: url('2.jpg');
    background-size:contain;
}
.myProgressBar{
    height: 10px;
    width: 50%;
    background-color:white;
    border-radius: 13px;
}
#progressed{
    height: 10px;
    width: 50%;
    background-color: blue;
    transition: all 2s;
    border-radius: 13px;
    position: relative;
}
#progressed::after{
    content: '';
    position: absolute;
    top: -5px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius:10px;
    background-color: blue;
    cursor: pointer;
}
.icons img{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.icons{
    margin-top: 14px;
    width: 100%;
    display: flex;
    justify-content: center;

}
.plbtn{
    height: 20px;
    width: 14px;
    cursor: pointer;
}
.songItem{
    height: 50px;
    display: flex;
    background-color: black;
    width: 100%;
    color: white;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    border-radius: 44px;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 33px;
}
.timestamp{
    margin: 0 23px;
}
.songItemContainer{
    margin-top: 74px;
}
#times{
    width: auto;
    padding-left: 34vw;
    margin-top: 40px;
}
.name1{
    margin-top: 40px;
}
.up{
    display: flex;
    width: 50vw;
    margin: auto;
}
@media screen and (max-width: 600px) {
    #times {
        float: right;
        width: auto;
        padding-left:10vw ;
    }
  }
  .ic{
    display: flex;
  }
  .shuffle{
    margin-left: -26vw;
  }
  .loop{
    margin-right: -250px;
    padding-left: 270px;
  }
  @media screen and (max-width: 600px) {
        .shuffle{
            margin-left: -38vw;
        }
    
  }
  @media screen and (max-width: 600px) {
    .icons{
        margin-top: 14px;
        width: 80%;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-left: 54px;
    }
    .loop{
        margin-right: -8vw;
        padding-left: 28px;
    }

}
